{% extends 'base.html' %}
{% block title %}
  Log-in
{% endblock %}
{% block content %}
  <div class="login-page">
    <div class="log-in">
      <h1>Enter Your Login Details Below</h1>
    </div>
    <div class="login-form">
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
      <div class="login-content">
        <form action="{% url 'login' %}" method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />
          <p>
            <input type="submit" value="Log-in" />
          </p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
